{% extends "base.html" %}
{% block content %}
Get callers for a specific class or method:
<form>
<div class="input-group mb-3" style="max-width: 450px;">
    <input type="text" name="class_name" class="form-control" placeholder="Class name" style="min-width: 200px;">
    <span style="font-size: 25px; margin-left: 5px; margin-right: 5px;">::</span>
    <input type="text" name="method_name" class="form-control" placeholder="Method name" style="min-width: 200px;">
  </div>
  <input type="submit" class="btn btn-primary" value="Get list of callers">
</form>
{% endblock %}
