{% extends "base.html" %}
{% block content %}
<a href="/download/callers/json?class_name={{class_name}}&method_name={{method_name}}" download="callers_{{class_name}}_{{method_name}}.json"><button type="button" class="btn btn-primary" style="float: right;">Download as JSON</button></a>
<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <div class="alert alert-warning" role="alert">
        This is based on an out-dated version of MediaWiki (1.43.0-wmf.14)
      </div>
      <div class="alert alert-warning" role="alert">
        This tool is in early stages, apologies for many missing parts.
      </div>
      <div class="alert alert-warning" role="alert">
        Huma can find dependencies but it can't find all of them. Lack of calls doesn't mean they don't exist.
        Double check before removing a method.
      </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Caller</th>
        <th scope="col">Called</th>
      </tr>
    </thead>
    <tbody>
{% for result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
            </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
