{% extends "base.html" %}
{% block content %}
<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <div class="alert alert-danger" role="alert">
        Database error has been returned.
      </div>
  SQL:
  <div class="card">
    <div class="card-body">
      {{sql}}
    </div>
  </div>
  Error:
  <div class="card">
    <div class="card-body">
      {{error}}
    </div>
  </div>
</div>
{% endblock %}
