{% extends "base.html" %}
{% block content %}
<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
  {% for example in examples %}
      <div class="card" style="padding: 10px;">
        <h5 class="card-title">{{example.name}}</h5>
        <div class="card-body">
          <pre>{{example.sql}}</pre>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}
