{% extends "base.html" %}
{% block content %}
<style>
    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<div style="max-width: 500px;">
Bird eye view of MediaWiki
<ul class="list-group">
    <div class="card"><div class="card-body"> 
        <a href="/callers">Get callers</a>
    </div></div>
    <div class="card"><div class="card-body"> 
        <a href="/sql">Run free queries against the database</a>
    </div></div>
    <div class="card"><div class="card-body"> 
        <a href="/examples">Examples of SQL queries</a>
    </div></div>
</ul>
</div>
{% endblock %}