{% extends "base.html" %}
{% block content %}
<a href="/download/sql/json?sql={{sql_url}}" download="sql_result.json"><button type="button" class="btn btn-primary" style="float: right;">Download as JSON</button></a>
<div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <div class="alert alert-warning" role="alert">
        This is based on an out-dated version of MediaWiki (1.43.0-wmf.14)
      </div>
      <div class="alert alert-warning" role="alert">
        This tool is in early stages, apologies for many missing parts.
      </div>
      <div class="alert alert-warning" role="alert">
        Huma can find dependencies but it can't find all of them. Lack of calls doesn't mean they don't exist.
        Double check before removing a method.
      </div>
  SQL:
  <div class="card">
    <div class="card-body">
      {{sql}}
    </div>
  </div>
<table class="table">
    <thead>
      <tr>
        {% for column in results[1] %}
        <th scope="col">{{column}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in results[0] %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
