{% extends "base.html" %}
{% block content %}
<div style="max-width: 500px;">
<div class="card" style="margin-bottom: 20px;">
  <div class="card-body">
    This uses PostgresSQL schema. See <a href="/examples">examples</a>.
  </div>
</div>
Run the query:
<form>
<div class="input-group mb-3">
  <textarea name="sql" class="form-control" rows="10"></textarea>
  </div>
  <input type="submit" class="btn btn-primary" value="Run SQL">
</form>
</div>
{% endblock %}
